@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
font-family: 'Open Sans', sans-serif;
}

.header-section{
	background: url(../images/hbg.jpg);
	height: 860px;
	background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	z-index: 1;
	background-attachment: fixed;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(64, 61, 60, 0.91);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.navbar{
    margin: 0;
    padding-top: 100px;
}
.navbar-nav>li>a {
    line-height: 20px;
    text-transform: uppercase;
    color: #F7600E;
			transition: 1s;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: gray;
    color: #fff;

}
.bannar_content{
	text-align: center;
}
.bannar_content h1{
    max-width: 655px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 40px;
    padding-top: 155px;
}
.bannar_content p{
 	max-width: 555px;
    text-align: center;
    margin: 0 auto;
    padding-top: 45px;
    color: #fff;
    font-size: 20px;

}
.bannar_content a{}
.bannar_content h1 span{
	color: #F7600E;
}
.button{
    padding-top: 90px;
}
.btn-custom{
	width: 150px;
    height: 50px;
    background: #F7600E;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition: 1s;
    font-size: 18px;
}
.btn-custom:hover{
	background: #ddd;
	color: #F7600E;
}
.arow{
	text-align: center;
    padding-top: 165px;
}
.arow a{}
.arow img{}
.our_work{}
.header{
	text-align: center;
}
.header h2{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 95px;
}
.header h2 span{
	color:#F7600E; 
}
.header p{
    max-width: 460px;
    margin: 0 auto;
    font-size: 13px;
    padding-top: 30px;
}
.img{
	padding-top: 90px;
}
.img img{
	width: 100%;
}
.show{
	text-align: center;
    padding-top: 60px;
}
.work-btn-custom{
    background: #fff;
    border: 1px solid gray;
    width: 210px;
    height: 50px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
}
.team_section{}
.team_img{
    padding-top: 100px;
}
.team_img a{}
.team_img img{
    width: 100%;
	filter:gray;
	-webkit-filter: grayscale(1);
	-webkit-transition: all .8s ease-in-out;
}
.team_img img:hover{
	filter: none;
	-webkit-filter:grayscale(0);
	-webkit-transform:scale(1.1);
	border-bottom: 3px solid #F7600E;
}
.caption{
	text-align: center;
}
.caption h3{
    margin: 0px;
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.caption p{
    max-width: 460px;
    margin: 0 auto;
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 100px;
}
.contact_us{
	background: url(../images/bbg.jpg);
	height: 710px;
	background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	z-index: 1;
	background-attachment: fixed;
}
form{
padding-top: 100px;
}
.footer_content{
	text-align: center;
}
.footer_content h2{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 80px;
    color: #fff;
}
.footer_content h2 span{
	color:#F7600E;
}
.footer_content p{
	max-width: 460px;
    margin: 0 auto;
    font-size: 13px;
    padding-top: 25px;
    color: #fff;
}
.form-group {
    margin: 0;
    padding-bottom: 30px;
}
.footer_area{
    max-height: 140px;
    background: #3B434C;
    color: #fff;
}
.footer_a{
    height: 140px;
    text-align: center;
}
.footer_a p{
	margin: 0px;
    padding-top: 45px;
    font-size: 13px;
    font-weight: bold;
}